<footer class="navbar navbar-dark bg-dark shadow-lg d-flex">
        <div class="container-fluid justify-content-between d-flex ">
        <li class="nav-item d-flex">
            <a class="nav-link" aria-current="page" href="https://alkitu.com/">Made with â¤ by Luis Urdaneta </a>
        </li>
    </div>
</footer>