<div class="hero-image d-flex justify-content-center align-items-center">
  <div id="hero-div" class="d-flex justify-content-center  bg-gradient shadow rounded p-4">
        <form action="" method="get" class="d-flex align-items-center flex-column col-sm-10 my-4 ">
            <input type="text" placeholder="Search..." class="form-control mb-3 col-5">
            <button type="submit" class="btn btn-primary">Search your favorite artist</button>
        </form>
  </div>
</div>